<!-- Main Header -->
<header class="main-header">
  <!-- Logo -->
  <a (click)="reload()" class="logo" style="cursor:pointer">

    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><img src="./assets/dist/img/favicon1.png"  alt="favicon1" style="width:50%; height:50%;"></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg col-xs-8 col-md-12"><img src="../../../assets/dist/img/Sofkullogo1.png" style="height: 40%; width: 70%;"></span>

  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <button class="btn btn-lg btn-danger" style="padding-bottom: 14px;" (click)="logout()"> Logout</button>
      </ul>
    </div>
  </nav>
</header>
