<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <strong>Powered by <a href="https://www.sofkul.com" target="_blank">Sofkul</a></strong>
      <!--<i class="fa fa-heart" aria-hidden="true"></i><span> Angular </span> &nbsp;-->
      <!--<i class="fa fa-bolt" aria-hidden="true"></i><span> Node.js</span>-->
    </div>
    <!-- Default to the left -->
    <strong>Copyright © 2018 <a href="https://www.minovative.com" target="_blank">Minovative Technologies Private Limited.</a> All Rights Reserved</strong>
</footer>
