<div class="content-wrapper" style="height: 1800px;">

  <div class="alert alert-success" role="alert" *ngIf="isQuotationSaved">Quotation Data Saved Successfully !!</div>
  <div class="alert alert-danger" role="alert" *ngIf="isQuotationError">ERROR !! Please Try Again.</div>

  <section class="content-header">
    <div class="col-xs-12">
      <h1>
        Recent Quotations
        <small><em> Generated for the month of {{ currentDate | date: 'MMMM' }} </em></small>
      </h1>
      <ol class="breadcrumb">
        <li><a [routerLink]="[ '/' ]"><i class="fa fa-dashboard"></i> InvoiceApp</a></li>
        <li><a [routerLink]="[ '/' ]"><i class="fa fa-dashboard"></i> Quotation</a></li>
        <li class="active">Recent</li>
      </ol>

      <div class="alert alert-warning" *ngIf="showRemoveConfirmation && delQuotation">
        <h4>
          <strong>Delete Confirmation !!</strong> <br>
          Delete the quotation for <em>{{ delQuotation.customerData?.username }} </em> ?
        </h4>
        <br>
        <button class="btn btn-success btn-sm" (click)="removeConfirmation(true)">YES</button>
        <button class="btn btn-danger btn-sm" (click)="removeConfirmation(false)">NO</button>
      </div>

    </div>
  </section>

  <section class="content">

    <!--  Page Content Here -->
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header" style="margin-top: 20px;margin-bottom: 20px;">
          <h3 class="box-title">Recent Quotation List</h3>
          <br>
          <div class="box-tools">

            <div class="row">
              <div class="col-md-offset-2 col-lg-4">
                Filter : &nbsp;
                <label class="radio-inline"><input type="radio" name="optradio" value="All"
                                                   (change)="toggleSearchStatus($event)">All</label>

                <label class="radio-inline"><input type="radio" name="optradio" value="Paid"
                                                   (change)="toggleSearchStatus($event)">Paid</label>
                <label class="radio-inline"><input type="radio" name="optradio" value="Due"
                                                   (change)="toggleSearchStatus($event)">Due</label>
                <label class="radio-inline"><input type="radio" name="optradio" value="Partially Paid"
                                                   (change)="toggleSearchStatus($event)">Partially Paid</label>
              </div>
              <div class="col-lg-6" style="float:right">
                <div class="input-group">
                  <div class="input-group-btn">
                    <select style="font-size: 15px;height: 34px;" (change)="filterChange($event.target.value)">
                      <option value="username">Username</option>
                      <option value="mobile_number">Mobile Number</option>
                      <option value="area">Area</option>
                    </select>
                  </div>
                  <!-- /btn-group -->
                  <input type="text" class="form-control" aria-label="..." placeholder="Search Recent Quotations"
                         (input)="quickSearch($event.target.value)">
                </div>
                <!-- /input-group -->
              </div>
            </div>
            <br><br>
            <!-- /.row -->
            <!-- /.row -->
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding" *ngIf="quotationList">

          <br>
          <div class="col-md-offset-4">
            <pagination-controls (pageChange)="onPaginate($event);p=$event"></pagination-controls>
          </div>
          <br>

          <table class="table table-hover">
            <tbody>
            <tr>
              <th>Username</th>
              <th>Fullname</th>
              <th>Mobile</th>
              <th>Area</th>
              <th>Product</th>
              <th>Due (BDT)</th>
              <th>Paid (BDT)</th>
              <th>Total (BDT)</th>
              <th>Status</th>
              <th>Transaction Date</th>
              <th>Change Status</th>
              <th>Action</th>
            </tr>
            <tr
              *ngFor="let quotation of quotationList | paginate: { itemsPerPage: 30, currentPage: p, totalItems:totalCustomerCount }">
              <td>{{ quotation.customerData?.username }}</td>
              <td>{{ quotation.customerData?.fullname }}</td>
              <td>{{ quotation.customerData?.mobile_primary }}</td>
              <td>{{ quotation.customerData?.areaData?.name }}</td>
              <!--<td><span *ngIf="quotation.customerData?.productData?.length>0"> {{ quotation.customerData?.productData[0]?.name }} - <em *ngIf="quotation.customerData?.productData[0]?.rate">{{ quotation.customerData?.productData[0]?.rate }} BDT/month</em> </span>
                  <small class="label bg-blue">{{ quotation.customerData?.productData.length }}</small>
              </td>-->
              <td>
                <small class="label bg-blue">{{ quotation.customerData?.productData?.length }}</small>
              </td>
              <td>{{ quotation?.amount_due }}</td>
              <td>{{ quotation?.total - quotation?.amount_due }}</td>
              <td>{{ quotation?.total }}</td>
              <td>
                <label class="label label-danger" *ngIf="quotation.status=='Due'"> {{ quotation.status }} </label>
                <label class="label label-success" *ngIf="quotation.status=='Paid'"> {{ quotation.status }} </label>
                <label class="label label-warning" *ngIf="quotation.status=='Partially Paid'"> {{ quotation.status
                  }} </label>
              </td>
              <td *ngIf="quotation?.status=='Due' || quotation?.status=='Partially Paid'">
                {{ quotation?.payment_due_date | date }}
              </td>
              <td *ngIf="quotation?.status=='Paid'">
                {{ quotation?.paid_date | date }}
              </td>
              <td>
                <button class="btn btn-success btn-xs" (click)="changeStatus('Paid',quotation)"> Paid</button>
                <button type="button" class="btn btn-warning btn-xs" (click)="changeStatus('Partially Paid',quotation)"
                        data-toggle="modal" data-target="#partiallyPaymentModal"> Partially Paid
                </button>
                <button class="btn btn-danger btn-xs" (click)="changeStatus('Due',quotation)"> Due</button>
              </td>
              <td>
                <a type="button" class="btn btn-primary btn-xs"
                   [routerLink]="['/dashboard/quotation/view','recent',quotation?._id]"> View</a>
                <!--<button class="btn btn-xs btn-danger" (click)="remove(quotation)"><i class="fa fa-times"-->
                <!--aria-hidden="true"></i></button>-->
              </td>

              <!-- Modal for Partially payment -->
              <div class="modal fade" id="partiallyPaymentModal" tabindex="-1" role="dialog"
                   aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                      <h2 class="modal-title" id="myModalLabel">Partially Payment</h2>
                    </div>
                    <div class="modal-body" *ngIf="partialQuotation">
                      <div class="col-md-12">
                        <div class="col-md-6">
                          <h4 style="text-align: center">Total: {{ partialQuotation?.total }} BDT</h4>
                          <h4 style="text-align: center">Due: {{ partialQuotation?.amount_due }} BDT</h4>
                        </div>
                        <div class="col-md-6">
                          <div *ngFor="let x of partialQuotation?.amount_partially_paid">
                            <h4 style="text-align: center">Date: {{ x?.date | date }} BDT</h4>
                            <h4 style="text-align: center">Partial Pay: {{ x?.amount }} BDT</h4>
                            <br>
                          </div>

                        </div>
                      </div>
                      <br>
                      <form class="form-horizontal" *ngIf="partialQuotation">
                        <!--amoount partially paid-->
                        <div class="form-group">
                          <label for="amount_partially_paid " class="col-sm-2 control-label ">Amount Partially Paid
                            (BDT) </label>
                          <div class="col-sm-10">
                            <input type="text" name="partialPay" [(ngModel)]="partialPay" class="form-control "
                                   id="amount_partially_paid " placeholder="amount partially paid">
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                      <button type="button" class="btn btn-primary" (click)="savePartialPay()"
                              data-dismiss="modal">Save changes
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
            </tbody>

          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <div class="col-md-offset-4">
        <pagination-controls (pageChange)="onPaginate($event);p=$event"></pagination-controls>
      </div>
    </div>
  </section>
</div>
